<%= markdown do %>
<%= I18n.t 'subscriptions.email.charge_failure_1', amount: humanized_money_with_symbol(@subscription.amount), plan_name: @subscription.subscription_plan.name %>

<%= I18n.t 'subscriptions.email.charge_failure_2' %>

<%= I18n.t 'subscriptions.email.questions', email: @account.preferred_support_email %>

---
<%= I18n.t 'subscriptions.email.account', email: @subscriber.email %>
<%= I18n.t 'subscriptions.email.plan_name', plan_name: @subscription.subscription_plan.name %>
<%= I18n.t('subscriptions.email.billing_page', billing_link: @billing_profile_url) %>
<% end %>