<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

</head>
<body id="invoice">
  <div class="container">
    <div class="main_body">
      <div class="row">
        <div class="col-xs-12">
          <header>
            <h1>Rechnung - Invoice</h1>
            <h2 class="invoice_num">Nr. <%= details[:invoice_num] %></h2>
            <h2 class="date"><%= details[:invoice_date].to_date.to_formatted_s(:long) %></h2>
          </header>
          <address class="customer_address">
            Joe Smith<br/>
            Somewhere 19<br/>
            85139 Townstatten
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-bordered">
            <tr>
              <th class="description">Beschreibung / Description</th>
              <th class="amount">Menge / Amount</th>
            </tr>
            <tr>
              <td class="description">Plan 'Student' : January 31, 2014 &mdash; February 28, 2014</td>
              <td class="amount"><%= details[:item_amount] %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 col-xs-offset-7">
          <table class="table table-bordered">
            <tr>
              <th>Steuersatz / Rate</th>
              <td class="amount"><%= number_to_percentage(details[:tax_rate], :precision => 1) %></td>
            </tr>
            <tr>
              <th>Umsatzsteuer / VAT</th>
              <td class="amount"><%= details[:tax_amount] %></td>
            </tr>
            <tr>
              <th>Endsumme / Total</th>
              <td class="amount"><%= details[:total] %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Additional Details</h4>
          <p>
            <ul>
              <li>User account: <%= details[:customer_account] %></li>
              <li>In accordance with our Terms &amp; Conditions, the amount is immediately due and is charged automatically.</li>
              <li>Your subscription will be renewed on <%= details[:next_renewal_at].to_date.to_formatted_s(:long) %>.
                The '<%= details[:plan_name] %>' plan has a regular price of <%= details[:plan_fee] %> for 1 month.</li>
              <li>Please read the right of withdrawal below.</li>
              <li>By making a purchase you approve the Terms &amp; Conditions: http://example.com/en/terms</li>
              <li>If you have any questions about the invoice, you can contact us via email at sales@example.com.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <footer>
      <address class="business_address" style="float: left;">
        Company Name<br>
        company address
      </address>
      <address class="business_address" style="float: right;">
        Tel 555-123-4567<br>
        E-Mail: info@example.com
      </address>
    </footer>
  </div>
</body>
</html>
