<%- if @subscription.needs_payment_info? -%>
<%= I18n.t('subscriptions.email.trial_expiring_1', company_name: @account.company_name) %>
<%- else -%>
<%= I18n.t('subscriptions.email.trial_expiring_2', company_name: @account.company_name, amount: @subscription.amount) %>
<%- end -%>

<%= I18n.t 'subscriptions.email.questions', email: @account.preferred_support_email %>

---
<%= I18n.t 'subscriptions.email.account', email: @subscriber.email %>
<%= I18n.t 'subscriptions.email.plan_name', plan_name: @subscription.subscription_plan.name %>
<%= I18n.t 'subscriptions.email.trial_expiration_date', expire_date: format_date(@subscription.next_renewal_at) %>
<%= I18n.t 'subscriptions.email.billing_page', billing_link: @billing_profile_url %>
