<% submit_url = (@subscription_plan.new_record? ? admin_subscription_plans_path : admin_subscription_plan_path) %>
<%= simple_form_for @subscription_plan, url: submit_url,
      html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>

  <%= f.error_notification message: "Please review the problems below" %>
  <%= panel header: false do %>

    <%= locale_tabs do |locale| %>
      <%= f.input "name_#{locale}", label: 'Plan Name', required: true %>
    <% end %>

    <%= f.input :slug, label: 'Slug', hint: 'Short name for this plan', required: true %>
    <%= f.input :stripe_plan_id, label: 'Stripe Plan ID', hint: 'Plan ID from the Stripe Dashboard.  Do not change once set', required: false %>

    <% # TODO With full integration into Stripe Billing, I think these values can be pulled from the Plan %>
    <%= f.input :price, label: 'Amount', wrapper: :bs3_horizontal_group do %>
      <%= content_tag :span, @subscription_plan.price.symbol, class: "input-group-addon" %>
      <div class="width_25_percent">
        <%= f.input_field :price, class: 'form-control' %>
      </div>
    <% end %>
    <%= f.input :renewal_period, label: 'Renewal Period', input_html: {class: 'width_25_percent'}, required: true %>
    <%= f.input :setup_price, label: 'Setup Amount', wrapper: :bs3_horizontal_group do %>
      <%= content_tag :span, @subscription_plan.price.symbol, class: "input-group-addon" %>
      <div class="width_25_percent">
        <%= f.input_field :setup_price, class: 'form-control' %>
      </div>
    <% end %>
    <%= f.input :trial_period, label: 'Trial Period', input_html: {class: 'width_25_percent'}, required: true %>
    <%= f.input :trial_interval, label: 'Trial Interval', input_html: {class: 'width_25_percent'}, required: true, collection: ['months', 'days'] %>

    <%= submit_or_cancel cancel_url: (@subscription_plan.new_record? ? admin_subscription_plans_path : admin_subscription_plan_path(@subscription_plan)) %>
  <% end %>


<% end %>
