<% payment_stats = SubscriptionPayment.stats %>
<% content_for :content_title, 'Subscription Plans' %>
<% content_for :content_title_extra do %>
  <%= page_header_buttons do %>
    <div class="header-bar-stats">
      <ul class="statistics statistics-small">
          <li><%= stat_block_small label: 'Revenue (last month)', number: humanized_money_with_symbol(payment_stats[:last_month]),
                      percent: 100, color_type: :warning, icon: ::CommonIcons[:money], url: '#' %></li>
          <li><%= stat_block_small label: 'Revenue (this month)', number: humanized_money_with_symbol(payment_stats[:this_month]),
                      percent: 100, color_type: :success, icon: ::CommonIcons[:money], url: '#' %></li>
          <li><%= stat_block_small label: 'Paying Subscribers', number: ::User.paid_subscribers.count,
                      percent: 100, color_type: :info, icon: ::CommonIcons[:user], url: '#' %></li>
      </ul>
    </div>
  <% end %>
  <div class="header-statistics">
    <div class="collapse" id="header-bar-stats">
      <div class="well">
        <ul class="statistics">
          <li><%= stat_block_small label: 'Revenue (last month)', number: humanized_money_with_symbol(payment_stats[:last_month]),
                      percent: 100, color_type: :warning, icon: 'icon-coin', url: '#' %></li>
          <li><%= stat_block_small label: 'Revenue (this month)', number: humanized_money_with_symbol(payment_stats[:this_month]),
                      percent: 100, color_type: :success, icon: 'icon-coin', url: '#' %></li>
          <li><%= stat_block_small label: 'Paying Subscribers', number: ::User.paid_subscribers.count,
                      percent: 100, color_type: :info, icon: 'icon-user', url: '#' %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% toolbar = toolbar_btn(icons(:new), new_admin_subscription_plan_path, title: 'New Subscription Plan', class: "btn btn-xs btn-default") %>
<%= panel body: false, title: 'Plans', toolbar: toolbar do %>
  <table id="drag_sort" class="table table-striped table-bordered table-block" data-update_url="<%= dm_subscriptions_stripe.admin_subscription_plan_sort_path %>">
    <thead>
      <tr>
        <th class="sort_handle"></th>
        <th>Plan Name</th>
        <th>Amount</th>
        <th>Renewal Period</th>
        <th>Paying / Total</th>
        <th>Estimated Revenue</th>
      </tr>
    </thead>
    <tbody>
      <% @subscription_plans.each do |plan| %>
        <tr class="item" data-item_id="<%= plan.id %>">
          <td class="sort_handle"></td>
          <td><%= link_to plan.name, [:admin, plan] %></td>
          <td><%= humanized_money_with_symbol plan.amount %></td>
          <td><%= plan.renewal_period %> / <%= 'month'.pluralize(plan.renewal_period) %></td>
          <td><%= plan.amount.positive? ? plan.subscriptions.fully_paid.count : '0' %> / <%= plan.subscriptions.count %></td>
          <td><%= humanized_money_with_symbol(plan.amount * plan.subscriptions.fully_paid.count / plan.renewal_period) %> / Month</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= panel body: false, title: "New/Changed <small>previous 7 days</small>".html_safe do %>
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="cost">Balance</th>
            <th class="date">Renewal</th>
          </tr>
        </thead>
        <tbody>
          <% @updated_plans.each do |subscription| -%>
            <tr>
              <td class="name"><%= subscription.subscriber.full_name %></td>
              <td class="cost"><%= subscription.amount.format %></td>
              <td class="date" style="white-space:nowrap">
                <%= subscription.current? ? format_date(subscription.next_renewal_at) : colored_label(format_date(subscription.next_renewal_at), :warning) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= panel body: false, title: "Upcoming Paid Renewals <small>next 2 weeks</small>".html_safe do %>
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="cost">Balance</th>
            <th class="date">Renewal</th>
          </tr>
        </thead>
        <tbody>
          <% @upccoming_renewals.each do |subscription| -%>
            <tr>
              <td class="name"><%= subscription.subscriber.full_name %></td>
              <td class="cost"><%= subscription.amount.format %></td>
              <td class="date" style="white-space:nowrap">
                <%= subscription.current? ? format_date(subscription.next_renewal_at) : colored_label(format_date(subscription.next_renewal_at), :warning) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= panel body: false, title: "Past Due Renewals" do %>
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class="name">Name</th>
            <th class="cost">Balance</th>
            <th class="date">Renewal</th>
          </tr>
        </thead>
        <tbody>
          <% @pastdue_renewals.each do |subscription| -%>
            <tr>
              <td class="name"><%= subscription.subscriber.full_name %></td>
              <td class="cost"><%= subscription.amount.format %></td>
              <td class="date" style="white-space:nowrap">
                <%= colored_label(format_date(subscription.next_renewal_at), :warning) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
