<%= render partial: 'shared/payment_bridge_setup' %>

<h2>Sign up -- <%= DmSubscriptionsStripe::PaymentApi.processor %></h2>
<div id="form_error" class="alert alert-error" style="display:none"></div>
<%= simple_form_for(@user_subscription, :url => dm_subscriptions_stripe.create_subscription_plan_path, :html => {:class => 'card_form form-vertical', id: 'new_plan_subscription' }) do |f| %>
  <h3><%= @user_subscription.plan_id.titleize if @user_subscription.plan_id %> Subscription Plan</h3>
  <%= f.hidden_field :plan_id %>
  <% if @user_subscription.card_token.present? %>
    <p>Credit card has been provided.</p>
  <% else %>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Card Security Code (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
    </div>
  <% end %>
  <%= f.hidden_field :card_token, id: 'card_token' %>
  <%= f.button :submit, 'Subscribe', :class => 'btn-primary' %>
<% end %>
