<% content_for :content_title, "#{@subscription.subscriber.name} <small>#{@subscription_plan.name}</small>".html_safe %>

<% content_for :content_title_extra do %>
  <%= page_header_buttons do %>
    <%#= present(@workshop).label_published %>
    <%= link_to('Make Payment', make_payment_admin_subscription_plan_subscription_path(@subscription_plan, @subscription), title: 'Make Payment', class: "btn btn-sm btn-default") %>
  <% end %>
<% end %>

<%= render 'form' %>
