<% content_for :head do %>
  <% if @payment_api.stripe? %>
    <%= tag :meta, :name => "stripe-key", :content => DmSubscriptionsStripe::PaymentApiStripeSubscription.new.public_key %>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
  <% end %>
<% end %>
