<% if false %>
  <!-- Blog Search Well -->
  <div class="well">
    <h4>Blog Search</h4>
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
    <!-- /.input-group -->
  </div>
<% end %>

<% if false %>
  <!-- Blog Categories Well -->
  <div class="well">
    <h4>Blog Categories</h4>
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li><a href="#">Category Name</a></li>
          <li><a href="#">Category Name</a></li>
          <li><a href="#">Category Name</a></li>
          <li><a href="#">Category Name</a></li>
        </ul>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <li><a href="#">Category Name</a></li>
          <li><a href="#">Category Name</a></li>
          <li><a href="#">Category Name</a></li>
          <li><a href="#">Category Name</a></li>
        </ul>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
<% end %>

<!-- Side Widget Well -->
<div class="well">
    <h4>Side Widget Well</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>


<% if @blog %>
  <div class="well">
    <h4><%= I18n.t('cms.blog_follow_section.title') %></h4>
    <% if @blog.is_private? %>  
      <div style="font-size: 12px;"><%= I18n.t('cms.blog_follow_section.description_private') %></div>
    <% else %>
      <div style="font-size: 12px;"><%= I18n.t('cms.blog_follow_section.description') %></div>
      <% if user_signed_in? %>
        <% following    = @blog.followed_by?(current_user.following) %>
        <% button_title = following ? I18n.t('fms.follow_stop') : I18n.t('fms.follow') %>
        <% follow_class = following ? 'btn btn-default btn-small follow_active' : 'btn btn-default btn-small' %>
        <%= button_to button_title, dm_cms.cms_blog_toggle_follow_path(@blog.id), remote: true, method: :patch, id: "follow_button", class: follow_class %>
      <% else %>
        <%= link_to I18n.t('core.login'), main_app.new_user_session_path(redirect_to: request.url), class: 'btn btn-default btn-small' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="well">
  <h4><%= I18n.t "cms.recent_posts" %></h4>
  <ul>
    <% @recent_posts.each do |post| %>
      <li><%= link_to post.title, post_show_url(post.cms_blog.slug, post.slug) %></li>
    <% end %>
  </ul>
</div>

<% if @blogs.count > 1 %>
  <div class="well">
    <h4><%= I18n.t "cms.available_blogs" %></h4>
    <ul>
      <% @blogs.each do |blog| %>
        <li><%= link_to blog.title, blog_show_url(blog) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to I18n.t("cms.all_recent_posts"), blog_root_url, class: 'btn btn-default btn-small' %>

<%= yield :sidebar %>
