<%= render partial: "layouts/cms_templates/page_header" %>

<%= render partial: "layouts/cms_templates/page_top", locals: {home_page: true} %>

  <%= content_by_name :slideshow %>

  <!-- Page Content -->
  <div class="container">

    <%= content_by_name :body %>

    <%= render partial: "layouts/cms_templates/page_footer" %>

  </div>
  <!-- /.container -->
  <%= content_for :footer_scripts %>

</body>
</html>
